<div class="row">
    <div class = "col-md-6">
        <h2>Soon To Be Devoured Burgers!</h2>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{>burger}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>
        <div class = "col-md-6">
        <h2>100% Devoured Burgers!</h2>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{>burger}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
    </div>
</div>

<div id="newburg">
  <h2>Order a New Burger</h2>
  <form class="burg-form">

    <div class="form-group">
      <label for="burg-name">Burger Name:</label>
      <input type="text" id="burg-name" name="name">
    </div>

    <button type="submit" id="submit-button">order it.</button>
  </form>
</div>